@font-face {
    font-family: 'Xisfani';
    src: url('/fonts/Xisfani.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'Xisfani', sans-serif;
  }